@import "~antd/dist/antd.css";

.ant-select-multiple .ant-select-selection-item {
    height: 27px;
}

.App {
    width: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: rgb(191 191 191) 0px 0px 10px 4px;
    border-radius: 5px;
    height: 90vh;
}
